body {
	background-color: #EAE1DF;
}

p {
	text-align: center;
}

h1 {
	font-weight: lighter;
	font-size: 80px;
	font-color: #fff;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0;
}


.media {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-53%, -50%);
}

.media li {
	list-style: none;
	margin: 20px 30px;
	display: inline-block;
	font-size: 60px;
	padding: 20px 20px;
	color: red;
	border: 1px solid #fff;
	border-radius: 50%;
	transition: .5s;
}

.media li:hover {
	color: #292929;
	border: 1px solid #292929;
	transition: .5s;
}

.other {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-53%, 20%);
	text-decoration: none;	
	font-size: 40px;
}

.other li {
	list-style: none;
	font-size: 40px;
}

a {
	text-decoration: none;
	color: red;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EAE1DF;
  color: black;
  text-align: center;
}


