body, html {
	background-color: #EAE1DF;
}

h1 {
	font-weight: lighter;
	font-size: 80px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0;
}

h2 {
	font-size: 30px;
}

a {
	text-decoration: none;
	color: red;
}

.pimg1 {
	background-image:url('../forgregoryjohnson/gjj.jpg');
	min-height: 100%;
}

.pimg1 {
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.section {
	
	padding: 50px 80px;
}

.section-light {
	background-color:#f4f4f4;
	color:#666;
}

.section-dark {
	background-color:#282E34;
	color:#ddd;
}

.footer {
	text-align: center;
}

